{% for product in object_list %}
    {{ product.nome }} - {{ product.quantidade }} em estoque
    <form method="POST" action="{% url 'add-stock' product.id %}">
        {% csrf_token %}
        <input type="number" name="quantidade" min="1">
        <input type="submit" value="Adicionar ao Estoque">
    </form>
    <br>
    <form method="POST" action="{% url 'remove-stock' product.id %}">
            {% csrf_token %}
            <input type="number" name="quantidade" min="1">
            <input type="submit" value="Adicionar ao Estoque">
        </form>
{% endfor %}
